.card-header {
    padding: 0.5rem;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--card-border-color);

    &:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
    }
}
